echo export VCAP_SERVICES=\'"{\"${SERVICE}db-2.2\":[{\"name\":\"\",\"label\":\"${SERVICE}db-2.2\",\"plan\":\"free\",\"tags\":[\"relational\",\"${SERVICE}db-2.2\",\"${SERVICE}db\"],\"credentials\":{\"name\":\"\",\"hostname\":\"${Target_PublicIP}\",\"host\":\"${Target_PublicIP}\",\"db\":\"${Target_DBName}\",\"port\":\"${Target_DBPort}\",\"user\":\"\",\"username\":\"\",\"password\":\"\"}}]}"\' >> /etc/profile
