<DeploymentArtifacts>
      <DeploymentArtifact
        artifactRef="tns:at-${RuntimeDeploymentOsPackageArtifact_ID}"
        artifactType="ns1:OsPackageArtifact" name="Runtime-Os-packages"/>
</DeploymentArtifacts>