<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.example.com/tosca/Types/General" xmlns="http://www.example.com/tosca/Types/General">
 ${Application_Types}
 ${Service_Instance_Types}
</xs:schema>
