<DiagramNode xmlns:ns2="http://www.example.com/tosca/ServiceTemplates/General" modelNode="ns2:${App1Name}App" id="node-${App1ID}">
        <Position y="100" x="20"/>
</DiagramNode>
<DiagramLink xmlns:ns2="http://www.example.com/tosca/ServiceTemplates/General" targetNode="node-${RuntimeServer_ID}" sourceNode="node-${App1ID}" modelLink="ns2:${App1Name}App_HostedOn_${RUNTIME}" id="link-${App1_HostedOn_RUNTIME_ID}"/>
<DiagramLink xmlns:ns2="http://www.example.com/tosca/ServiceTemplates/General" targetNode="node-${DB_ID}" sourceNode="node-${App1ID}" modelLink="ns2:${App1Name}App_ConnectsTo_${DBName}Db" id="link-${App1_ConnectsTo_SERVICE_Instance_ID}"/>
 